{
  "loggingLevel": "WARNING",
  "mqttTopicName": "alexa-my-smart-home-skill",
  "airConditionerAddress": "192.168.1.1",
  "host": "ABCDEFG1234567.iot.ap-northeast-1.amazonaws.com",
  "port": 8883,
  "clientId": "clientId",
  "thingName": "thingName",
  "caCert": "certs/root-CA.crt",
  "clientCert": "certs/certificate.pem.crt",
  "privateKey": "certs/private.pem.key"
}
